
/* wndxTheme: Obsidian theme for the nerds. */
/* PULL REQUEST ON: https://github.com/Wndx2/wndxTheme */

.theme-dark {
  /* VARIABLE CONFIGURATION */
  --base-0: #070811;
  --base-1: #0C0D19;
  --base-1-2: #161723;
  --base-2: #313244;
  --base-3: #363749;

  /* BACKGROUND COLOR SCHEMES */
  --background-primary: var(--base-1) !important;
  --background-secondary: var(--base-0) !important;
  --background-primary-alt: var(--base-0) !important;
  --background-secondary-alt: var(--base-0) !important;
  --titlebar-background: var(--base-0) !important;
  --titlebar-background-focused: var(--base-0) !important;
  --divider-color: var(--base-0) !important;

  /* COLOR VARIABLES */
  --pink: #F48FB1;
  --red: #E57373;
  --orange: #FFB74D;
  --yellow: #FFF176;
  --green: #81C784;
  --cyan: #4DD0E1;
  --blue: #64B5F6;
  --blurple: #7986CB;
  --purple: #9575CD;

  --white: #cdd6f4;
  --grey: #a6adc8;

  --dark-blue: #3949AB;
  --dark-purple: #5E35B1;

  /* HEADING COLORS */
  --h1-color: var(--red);
  --h2-color: var(--orange);
  --h3-color: var(--green);
  --h4-color: var(--cyan);
  --h5-color: var(--blue);
  --h6-color: var(--purple);

  /* TEXT COLORS */
  --text-normal: var(--white);
  --text-muted: var(--grey);
  --text-success: var(--green);
  --text-warning: var(--yellow);
  --text-error: var(--red);

  --text-accent: var(--blurple);

  --bold-color: var(--cyan);
  --italic-color: var(--blue);
  --hr-color: var(--base-2);

  /* GRAPH COLORS */
  --graph-node: var(--white);
  --graph-line: var(--base-2);
  --graph-node-attachment: var(--dark-blue);
  --graph-node-tag: var(--dark-purple);

  --code-background: var(--base-0);

  /* TABLE STYLES */
  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th, td {
    padding: 8px;
    border: 1px solid var(--base-1-2);
    text-align: left;
    word-wrap: break-word;
  }

  th {
    border: 1px solid var(--base-1-2) !important;
    background-color: var(--base-0) !important;
    color: var(--white);
  }
}
